/* Reset do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colors */
:root {
    --backgroundNav: #131313;
}

body {
    min-height: 100vh;
    background-color: #fff;
}

/* nav */

.nav_vinicius {
    position: fixed;
    top: 20px;
    left: 10px;
    bottom: 40px;
    width: 160px;
    background-color: var(--backgroundNav);
    box-sizing: initial;
    border-radius: 10px;
    transition: width 1s;
    overflow: hidden;
    align-items: center;
}

.nav_vinicius.active {
    width: 300px;
}

.nav_vinicius ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0 0 5px;
}

.nav_vinicius ul li {
    width: 100%;
    position: relative;
    list-style-type: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.nav_vinicius ul li b:nth-child(1) {
    position: absolute;
    top: 9px;
    height: -9px;
    width: 100%;
    background-color: #fff;
    display: none;
}
.nav_vinicius ul p{
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}

.nav_vinicius ul li b:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 10px;
    background-color: var(--backgroundNav);
    color: rgba(255, 255, 255, 0.842);
}

.nav_vinicius ul li b:nth-child(2) {
    position: absolute;
    bottom: -15px;
    height: 15px;
    width: 100%;
    background-color: #ffffff;
    display: none;
}

.nav_vinicius ul li b:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    background-color: var(--backgroundNav);
}

.nav_vinicius ul li.active b:nth-child(1),
.nav_vinicius ul li.active b:nth-child(2) {
    display: block;
}

.nav_vinicius ul li.active {
    background-color: #ffffff;
}

.nav_vinicius ul li a {
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #ffffff;
}

.nav_vinicius ul li.active a {
    color: black;
}

.nav_vinicius ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 180px;
}

.nav_vinicius ul li a .icon ion-icon {
    font-size: 1.5rem;
}

.nav_vinicius ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}
.circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    overflow: hidden;
    position: relative;
}
  
  .circle img {
    position: relative;
    bottom: 0;
    width: 100%;  
}
.txtft{

    margin-left: 70px;
    margin-top: -40px;
}
.iconehd1{
    font-size:1.5rem;
    position:fixed;
    margin-left: 1160px;
    margin-top: -27px;
    border-style: groove;
    border-radius:7px
}
.iconehd2{
    font-size:1.5rem;
    margin-left:1090px;
    margin-top:-27px;
    position:fixed;
    border-style:groove;
    border-radius: 7px;
}
.iconehd3{
    position:fixed;
    margin-left: 1020px;
    font-size:1.5rem;
    margin-top:-27px;
    border-style:groove;
    border-radius:7px;
}
.iconehd4{
    position:fixed;
    margin-left: 950px;
    font-size:1.5rem;
    margin-top:-27px;
    border-style:groove;
    border-radius: 7px;
}
